*{
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
}

#wrapper {
  background-color: turquoise;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1s ease-out;

}

#quote-box {
  height: auto;
  width: 550px;
  background-color: white !important;
  padding: 40px 50px;
}

#text {
  font-size: 30px;
}

#author {
  display: flex;
  justify-content: flex-end;
}

#footer {
  display: flex;
  justify-content: space-between;
}

#new-quote {
  align-self: flex-end;
}